@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans');

body{
  background-color: rgb(10, 10, 10);
}

.font-mm {
  font-family: 'Major Mono Display', monospace;
}

.font-os {
  font-family: 'Open Sans', sans-serif;
}

.Home {
  height: 50vh;
  color: rgb(228, 217, 228);
  background-image: url(../assets/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  margin: 0, 100px !important;
  text-shadow: 3px 2px #111111;
  font-weight: 650;
}

.sidenav-overlay {
  z-index: auto !important;
}

